body{
margin:0;
font-family:Arial;
background:#011f4b;
color:white;
}

header{
background:#023e8a;
padding:15px;
display:flex;
align-items:center;
position:fixed;
width:100%;
z-index:100;
}

.menuBtn{
font-size:26px;
cursor:pointer;
margin-right:10px;
}

.sidebar{
height:100%;
width:0;
position:fixed;
top:0;
left:0;
background:#011f4b;
overflow-x:hidden;
transition:0.3s;
padding-top:60px;
}

.sidebar button{
display:block;
width:100%;
padding:15px;
background:none;
border:none;
color:white;
cursor:pointer;
text-align:left;
}

.sidebar button:hover{
background:#0077b6;
}

section{
display:none;
padding:20px;
margin-top:60px;
max-width:900px;
margin:auto;
}

.active{
display:block;
}

.card{
background:#022c5f;
padding:20px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.4);
}

input,textarea{
width:100%;
padding:10px;
margin:8px 0;
border-radius:6px;
border:none;
}

textarea{
height:100px;
}

.submit{
background:#00f5d4;
border:none;
padding:12px;
border-radius:8px;
width:100%;
font-weight:bold;
cursor:pointer;
}

.detectBtn{
background:#00b4d8;
border:none;
padding:10px;
border-radius:8px;
width:100%;
margin-bottom:10px;
color:white;
}

#reportMap,#map{
height:350px;
border-radius:10px;
margin-top:10px;
}

#popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
justify-content:center;
align-items:center;
}

#popup div{
background:white;
color:black;
padding:25px;
border-radius:10px;
}
